body {
    margin: 0;
    padding: 0;
    background-attachment: scroll;

}

.wrapper {
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
    z-index: 1;
}

.container{
    padding: 25px 0px;
}

.parallax-img {
    height: 370vh;
    width: 100%;
    position: absolute;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(src/background.jpg);
    filter: blur(3px);
    z-index: -1;
}

.content {
    background-color: whitesmoke;
}

.header {
    color: black;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: calc(20px + 8 * ((100vw - 320px) / (1280 - 320)));
    margin: 0px 30px;
    padding: 10px 0px;
    user-select: none;   
}

.line {
    height: 1px;
    max-width: 100%;
    background-color: black;
    margin-left: 30px;
    margin-right: 30px;
}

.diary {
    color: black;
    font-family: 'Manrope', cursive;
    font-size: calc(20px + 8 * ((100vw - 320px) / (1280 - 320)));
    margin: 0px 10px;
    text-align: center;
    user-select: none;   
    padding: 20px 0px;
}

.diary > img {
    object-fit: cover;
    padding: 10px 0px;
    width: 700px;
    max-width: 100%;
}

.footer {
    margin: 0px 10px;
    padding: 10px 0px;
    display: flex;
    justify-content: space-around;
    font-family: 'Rubik Mono One', sans-serif;
}

.footer > a{
    color: black;
    text-decoration: underline;
}
.footer > a:first-child{
    text-decoration: line-through;
    pointer-events: none;
    user-select: none;   
}


@media (max-width: 1000px) {
    .wrapper {
        width: auto;
    }
}
